{% extends 'appngvdj/base.html' %}

{% block titulo %}
  Modificar Pedido
{% endblock %}

{% block contenido %}
  <h2>Modificar Cliente <br>{{cliente.nombres}} {{ cliente.apellidos }}</h2>
  <article class="row">
    <section class="col"></section>
    <form action="{% url 'modCliente' cliente.id_cliente %}" method="post" class="card bg-dark" style="width: 30rem;">
      {% csrf_token %}
      <article class="container">
        <input type="text" value="{{ cliente.nombres }}" name="nombres" class="form-control" /><br>
        <input type="text" value="{{ cliente.apellidos }}" name="apellidos" class="form-control" /><br>
        <input type="text" value="{{ cliente.identificacion }}" name="id" placeholder="Ingrese su identificación" class="form-control" /><br>
        <input type="text" value="{{ cliente.telefono }}" name="telefono" placeholder="Ingrese su teléfono" class="form-control" /><br>
        <input type="text" name="direccion" value="{{ cliente.direccion }}" placeholder="Ingrese su dirección" class="form-control" /><br>
        <input type="email" value="{{ cliente.correo }}" name="correo" placeholder="Ingrese su correo" class="form-control" /><br>
      </article>
      <article class="row">
        <section class="col"></section>
        <section class="col"><input type="submit" value="Modificar" class="btn btn-outline-light" style="width: 30vh;"></section>
        <section class="col"></section>
    </article>
    </form>
    <section class="col"></section>
  </article>
{% endblock %}
